node_modules/
npm-debug.log
npm-debug.log.*
htmldocs/
lerna-debug.log
lib/
dist/
dist-*/
dist-tests/
dist-browser-cjs/
dist-browser-esm/
dist-node-cjs/
dist-node-esm/
yarn-error.log
.next
.idea
tsconfig.tsbuildinfo
