language: node_js
sudo: false
node_js:
  - 10
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.19.1
  - export PATH=$HOME/.yarn/bin:$PATH
cache:
  yarn: true
install: yarn install --network-concurrency 1
script:
  - yarn lint
  - yarn bootstrap
  - yarn build
  - yarn tscheck
  - yarn test
